<!-- Header toolbar with the title of the app -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess The Number </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed> <!-- Grid start -->
    <ion-row>
      <!-- 1st Column-->
      <ion-col size="12" size-md="6">
        <!-- Information -->
        <ion-item>
          <ion-text color="primary">
            <p>Generate a random number between min and max values.</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text color="danger">
            <p>You have {{totalAttempts}} attempts left.</p>
          </ion-text>
        </ion-item>
        <!-- Labels and inputs for minimum and maximum -->
        <ion-item>
          <ion-label position="floating">Min (not included)</ion-label>
          <ion-input min="0" max="{{maxNumber - 1}}" type="number" placeholder="Min" [(ngModel)]="minNumber" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Max</ion-label>
          <ion-input min="{{minNumber + 1}}" type="number" placeholder="Max" [(ngModel)]="maxNumber" required>
          </ion-input>
        </ion-item>

        <!-- Warning message -->
        <ion-item *ngIf="(minNumber >= maxNumber)">
          <ion-text color="warning">
            <p>Minimum value must be smaller than Maximum</p>
          </ion-text>
        </ion-item>

        <!-- Buttons -->
        <ion-button (click)="generateRandomNumber(minNumber, maxNumber)" expand="block" shape="round">
          Generate Random Number</ion-button>
        <ion-button (click)="reset()" expand="block" shape="round">Reset</ion-button>
      </ion-col>

      <!-- 2nd Column-->
      <ion-col size="12" size-md="6">

        <!-- Info message -->
        <ion-item *ngIf="(randomNumber == 0)">
          <ion-text color="warning">
            <h3>Waiting for a random number.</h3>
          </ion-text>
        </ion-item>

        <!-- Div that appears when a random number its generated and dissapears when the user founds the number or run out of attempts-->
        <div *ngIf="((randomNumber != 0) && (hasAttemptsLeft) && !(hasFoundNumber))">

          <!-- Success message -->
          <ion-item>
            <ion-text color="success">
              <h3>Random number generated.</h3>
            </ion-text>
          </ion-item>

          <!-- Input and button -->
          <ion-item>
            <ion-label position="floating">Guess the generated number</ion-label>
            <ion-input min="0" max="{{maxNumber}}" type="number" placeholder="Introduce a number"
              [(ngModel)]="introducedNumber" (keyup.enter)="validateNumber(introducedNumber, randomNumber)"></ion-input>
          </ion-item>
          <ion-button (click)="validateNumber(introducedNumber, randomNumber)" expand="block" shape="round">
            Guess the number
          </ion-button>
        </div>

        <!-- Div that appears when run out of attempts -->
        <div *ngIf="(!(hasAttemptsLeft))">
          <ion-item>
            <ion-text color="warning">
              <p>You have no more attempts. Just reset or generate a new one.</p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="warning">
              <p>The number was: {{randomNumber}}</p>
            </ion-text>
          </ion-item>
        </div>

        <!-- For each of the numbers introduced -->
        <ion-item *ngFor="let number of introducedNumbers">
          <!-- Checkers -->
          <ion-text color="success" *ngIf="(number == randomNumber)">
            <p>{{number}} was the Random Number. Congrats!</p>
          </ion-text>
          <ion-label *ngIf="(number > randomNumber)">{{number}} is bigger than the random number.
          </ion-label>
          <ion-label *ngIf="(number < randomNumber)">{{number}} is smaller than the random number.</ion-label>
        </ion-item>
      </ion-col> 
    </ion-row>
  </ion-grid> <!-- Grid end -->
</ion-content>